{% load static %}

<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-10">
                <div class="row g-2">
                    <div class="col-md-4">
                        <input type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                    </div>
                    <div class="col-md-4">
                        <select class="form-select border-0 py-3">
                            <option selected>Property Type</option>
                            <option value="1">Property Type 1</option>
                            <option value="2">Property Type 2</option>
                            <option value="3">Property Type 3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select border-0 py-3">
                            <option selected>Location</option>
                            <option value="1">Location 1</option>
                            <option value="2">Location 2</option>
                            <option value="3">Location 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark border-0 w-100 py-3">Buscar</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->

<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="{% url "indice" %}" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="{% static 'img/icon-deal.png'%}" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Arkham</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">

                <a href="{% url "indice" %}" class="nav-item nav-link active">Home</a>
                <a href="{% url "indice" %}" class="nav-item nav-link">About</a>
                <a href="{% url "welcome" %}" class="nav-item nav-link">Bienvenido</a>

                {% if user.is_authenticated and user.tipo_usuario == 'ARRENDADOR' %}

                <div class="nav-item dropdown">
                    <a href="{% url "welcome" %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Propiedades</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{% url "crear_inmueble" %}" class="dropdown-item">Crear Inmueble</a>
                        <a href="{% url "actualizar_inmueble" %}" class="dropdown-item">Actualizar Inmuebles</a>
                        <a href="{% url "eliminar_inmueble" %}" class="dropdown-item">Eliminar Inmuebles</a>
                    </div>
                </div>

                {% endif %}

                {% if user.is_authenticated %}
                <div class="navbar-nav ms-auto">
                    <a href="{% url "welcome" %}" class="btn btn-primary px-3 d-none d-lg-flex">Bienvenid@ {{user.username}}</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="{% url "logout" %}" class="btn btn-primary px-3 d-none d-lg-flex">Cerrar Sesión</a>
                </div>
                {% else %}
                <div class="navbar-nav ms-auto">
                    <a href="{% url 'login' %}" class="btn btn-primary px-3 d-none d-lg-flex">Inicio Sesión</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="{% url "register" %}" class="btn btn-primary px-3 d-none d-lg-flex">Registrate</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->