{% load static %}

<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="{% url "indice" %}" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="{% static 'img/icon-deal.png'%}" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Arkham</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="{% url "indice" %}" class="nav-item nav-link active">Home</a>
                <a href="{% url "about" %}" class="nav-item nav-link">About</a>

                {% if user.is_authenticated and user.tipo_usuario == 'ARRENDADOR' %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Propiedades</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{% url "welcome" %}" class="dropdown-item">Lista Propiedades</a>
                        <a href="{% url "crear_inmueble" %}" class="dropdown-item">Crear Inmueble</a>
                        <a href="{% url "solicitudes_arrendador" %}" class="dropdown-item">Solicitudes Recibidas</a>
                    </div>
                </div>
                {% endif %}

                {% if user.is_authenticated and user.tipo_usuario == 'ARRENDATARIO' %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Propiedades</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{% url "welcome" %}" class="dropdown-item">Lista Propiedades</a>
                        <a href="{% url "solicitudes_arrendatario" %}" class="dropdown-item">Solicitudes Emitidas</a>
                    </div>
                </div>
                {% endif %}

                {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Usuario</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{% url "editar_usuario" %}" class="dropdown-item">Actualizar Datos</a>
                        <a href="{% url "cambiar_contrasena" %}" class="dropdown-item">Editar contraseña</a>
                    </div>
                </div>
                {% endif %}

                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url "logout" %}" class="btn btn-primary px-3 d-none d-lg-flex m-2">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary px-3 d-none d-lg-flex m-2">Login</a>
            {% endif %}
        </div>
    </nav>
</div>
<!-- Navbar End -->