{% extends 'base.html' %}
{%load humanize %}
{% load static %}

{% block "header" %}

<section class="page-section">
    <div class="container">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Bienvenid@</span>
                    <span class="section-heading-lower">{{ user.username }}</span>
                </h2>
            </div>
    </div>
</section>

{% endblock "header" %}

{% block 'content' %}


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">

                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    {% comment %} imagen desde base de datos {% endcomment %}
                    <img class="img-fluid w-100" src="{{ inmueble.imagen.url }}">
                </div>

            </div>

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

                <h1 class="mb-4">{{ inmueble.nombre}}</h1>
                <p class="mb-4">{{ inmueble.descripcion }}</p>
                <p><i class="fa fa-check text-primary me-3"></i>{{ inmueble.m2_construidos |floatformat:0}} Mts2</p>
                <p><i class="fa fa-check text-primary me-3"></i>{{ inmueble.m2_totales |floatformat:0}} Mts2 Totales</p>
                <p><i class="fa fa-check text-primary me-3"></i>{{ inmueble.cantidad_estacionamientos}} Estacionamiento{{ inmueble.cantidad_estacionamientos |pluralize }}</p>
                <p><i class="fa fa-check text-primary me-3"></i>{{ inmueble.cantidad_habitaciones}} Habitacione{{ inmueble.cantidad_habitaciones |pluralize }}</p>
                <p><i class="fa fa-check text-primary me-3"></i>{{ inmueble.cantidad_banos}} Baño{{ inmueble.cantidad_banos |pluralize}}</p>
                <p><i class="fa fa-check text-primary me-3"></i>{{ inmueble.direccion }}</p>
                <p><i class="fa fa-check text-primary me-3"></i>$ {{ inmueble.precio_mensual_arriendo |floatformat:0 | intcomma }}</p>

            {% if user.tipo_usuario == 'ARRENDATARIO' %}

            <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'generar_solicitud_arriendo' inmueble.id %}">Solicitud de Arriendo</a>
            
            {% endif %}
            
            {% if user.tipo_usuario == 'ARRENDADOR' %}

            <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'actualizar_inmueble' inmueble.id %}" onclick="return confirm('¿Quieres editar?');">Editar Inmueble</a>
            <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'eliminar_inmueble' inmueble.id %}" onclick="return confirm('¿Seguro que quieres eliminar?');">Eliminar Inmueble</a>
            
            {% endif %}

            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock 'content' %}